
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
COPYING
INSTALL
config.log
config.status
configure
depcomp
install-sh
missing
push
stamp-h1

# app-specific
nfs4d
nfs4d*.tar.gz
nfs4d-config.h*

nfs4d.pid
nfs4d.stats
nfs4d.dump*
