
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
COPYING
INSTALL
config.log
config.status
configure
depcomp
install-sh
missing
push
stamp-h1

# app-specific
nfs4_server
nfs-server*.tar.gz
nfs-server-config.h*
